# hello world example
board icezero

# flashmem
flashpmem

# fastflashboot 
# noflashboot

# enable compressed ISA support
# compressed_isa

# trigger input
mod triggerrec tr0
  address 2
  connect clk_fast CLKIN
  connect IO pmod4 pmod3


mod spi_slave spi0
  address 1
  connect clk_in CLKIN
  connect cs PI_CE0
  connect miso PI_MISO
  connect mosi PI_MOSI
  connect sclk PI_SCLK
  connect debug_pin_1 pmod2_1
  connect debug_pin_2 pmod2_2
  connect debug_pin_3 pmod2_3
  connect debug_pin_4 pmod2_4

#mod gpio gpio
#  address 3
#  connect IO pmod1

# Configuration for on-chip debugger

#debug_net resetn
#debug_net cpu_trap
#debug_net clk 

#debug_net spiflash_cs
#debug_net spiflash_sclk
#debug_net spiflash_mosi
#debug_net spiflash_miso
#debug_net spiflash_data
#debug_net pmod5_1

#debug_net mem_valid
#debug_net mem_ready
#debug_net mem_instr
#
#debug_net mem_wstrb[3]
#debug_net mem_wstrb[2]
#debug_net mem_wstrb[1]
#debug_net mem_wstrb[0]
#
#debug_net mem_addr[31]
#debug_net mem_addr[30]
#debug_net mem_addr[29]
#debug_net mem_addr[28]
#debug_expr mem_addr_midbits 1 |mem_addr[27:18]
#debug_net mem_addr[17]
#debug_net mem_addr[16]
#debug_net mem_addr[15]
#debug_net mem_addr[14]
#debug_net mem_addr[13]
#debug_net mem_addr[12]
#debug_net mem_addr[11]
#debug_net mem_addr[10]
#debug_net mem_addr[9]
#debug_net mem_addr[8]
#debug_net mem_addr[7]
#debug_net mem_addr[6]
#debug_net mem_addr[5]
#debug_net mem_addr[4]
#debug_net mem_addr[3]
#debug_net mem_addr[2]
#debug_net mem_addr[1]
#debug_net mem_addr[0]

#debug_port pmod4_1 clk
#debug_port pmod4_2 resetn
#debug_port pmod4_3 cpu_trap
#debug_port pmod4_4 mem_valid

#debug_port pmod2_1 clk 
#debug_port pmod4_2 pmod5_1
#debug_port pmod2_3 spiflash_mosi
#debug_port pmod4_4 spiflash_miso

